---
http_interactions:
- request:
    method: get
    uri: https://thirdparty.qonto.com/v2/clients?current_page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"clients":[],"meta":{"current_page":1,"next_page":null,"prev_page":null,"total_pages":1,"total_count":0,"per_page":100}}'
  recorded_at: Wed, 01 Jan 2020 00:00:00 GMT
- request:
    method: post
    uri: https://thirdparty.qonto.com/v2/clients
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"client":{"id":"cli-uuid-1"}}'
  recorded_at: Wed, 01 Jan 2020 00:00:00 GMT
- request:
    method: post
    uri: https://thirdparty.qonto.com/v2/client_invoices
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"client_invoice":{"id":"inv-uuid-1","einvoicing_status":"pending"}}'
  recorded_at: Wed, 01 Jan 2020 00:00:00 GMT
- request:
    method: post
    uri: https://thirdparty.qonto.com/v2/client_invoices/inv-uuid-1/send_by_einvoice
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 01 Jan 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
